/* Global Styles */
html {
    scroll-padding-top: 4rem;
}
body {
    font-family: arial, sans-serif;
    scroll-behavior: smooth;
    padding-left: none;
    padding-right: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #495057;
    animation: fadeIn ease 2s; /*Apply fade-in animation */
}
/* Home Section */
#home {
    padding-top: 10%;
    font-style: italic;
    text-align: center;
}
/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212529;
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: #F8F9FA;
    transition: color 0.3s ease-in-out;
}
nav ul li a:hover {
    color: #6C757D;
}
/* About Section */
#about {
    padding: 1px 10px 0px 10px;
    text-align: justify;
    background-color: #ADB5BD;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#about img {
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
#about p {
    font-style: italic;
    color: #212529;
}
/* Flex Container Styles */
.flex-container {
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: auto;
    flex-wrap: wrap;
    width: 70%;
}
/* Projects Section */
#projects {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #ADB5BD;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#projects img {
    display: block; /* Distribute available space equally among images */
    margin-left: auto;
    margin-right: auto;
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    width: 50%;
}
#projects img:hover {
    opacity: 0.5;
}
#projects p {
    color: #343A40;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
/* Certificates Section */
#certificates {
    display: block;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#certificates img {
    flex: 1;
    width: 50%;
    height: auto;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
#certificates img:hover {
    opacity: 0.5;
}
/* Contacts Section */
#contact section {
    display: flex;
    justify-content: center;
}
#contact a {
    color: #E9ECEF;
    text-decoration: none;
    margin-top: 2px;
}
#contact button {
    transition-duration: 0.4s;
    background-color: #212529; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
#contact button:hover {
    background-color: #F8F9FA;
    color: #212529;
  }
#buttons {
    padding-bottom: 65px;
}
/* Scrolling animation */
  :target {
    animation: scrollAnimation is ease-in-out;
}

/* Keyframes Section */
@keyframes scrollAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Media Query for Screens up to 768px */
@media (max-width: 768px) {
    body {
        width: 100%; /* Set full width */
        padding: 0; /* Remove padding */
    }
    /* Adjust navigation for mobile */
    nav {
        position: fixed;
        bottom: 0;
        top: auto;
        z-index: 1;
        width: 100%; /* Full width */
        border-radius: 0; /* Remove border radius */
        left: 50%; /* Horizontally center */
        transform: translateX(-50%); /* Horizontally center */
    }
    /* Adjust flex container for mobile */
    .flex-container {
        width: 100%; /* Full width */
        padding: 10px; /* Add some padding */
    }
    /* Adjust project and certificate images for mobile */
    #projects img,
    #certificates img {
        width: 100%; /* Full width */
        max-width: 300px; /* Set a max width for readability */
    }
     /* Adjust contact section for mobile */
     
}